<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html><head>
	<meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
	<title>Aurus Signature</title>
</head>
<body dir="LTR" lang="en-US">
<p style="line-height: 0.14in"><font color="#004586"><font face="calibri, Arial"><font size="2"><b>________________________________________________________________________________________________________________________________________________________________</b></font></font></font></p>
<p style="line-height: 0.14in"><font color="#004586"><font face="calibri, Arial"><font size="2"><b>Thanks and Regards,</b> <br><br><b>Yogesh Gavhane,</b>
<font style="font-size: 9pt" size="2">Linux Administrator</font> </font></font></font></p>
<p style="margin-left: 0.05in; margin-right: 0.05in; line-height: 0.14in">
 <font color="#004586"><font face="calibri, Arial"><font size="2">
<img src="Yogesh_sign_files/sign-mobile-blue.png" name="graphics12" height="14" width="9" border="0" align="BOTTOM"></font><font style="font-size: 9pt" size="2"><b> +91
- 8237215477</b></font></font></font>  <font color="#004586"><font face="calibri, Arial"><font size="2">|

<img src="Yogesh_sign_files/sign-website-blue.png" name="graphics14" height="12" width="13" border="0" align="BOTTOM">
</font><a href="http://www.aurusinc.com/" style="color:#004586;"><span style="text-decoration: none"><font style="font-size: 9pt" size="2"><b>www.aurusinc.com</b></font></span></a></font></font>
<font color="#004586"><font face="calibri, Arial"><font size="2"><br><img src="Yogesh_sign_files/sign-address-blue.png" name="graphics15" height="13" width="10" border="0" align="BOTTOM">
</font><font style="font-size: 9pt" size="2"><b> Plot G-2, Sector 26, Pradhikaran, Pune, Maharashtra-411044</b></font></font></font>
</p>

<p style="margin-bottom: 0in"><span style="text-decoration: none"><a href="http://www.aurusinc.com/"><img src="Yogesh_sign_files/aurus_email.png" name="Aurus" width="150" border="0" align="BOTTOM"></a></span></p>

<p style="margin-bottom: 0in; border: none; padding: 0in; line-height: 0.14in">
<span style="text-decoration: none"><a href="https://www.facebook.com/pages/Aurus-Inc-Solution-and-Services-Provider/168611626510639"><img src="Yogesh_sign_files/sign-facebook.png" name="graphics17" height="24" width="24" border="0" align="BOTTOM"></a>

<a href="https://twitter.com/aurustech"><img src="Yogesh_sign_files/sign-twitter.png" name="graphics18" height="24" width="24" border="0" align="BOTTOM"></a>
</span>

<a href="http://linkedin.com/company/aurustech"><img src="Yogesh_sign_files/sign-linkedin.png" name="graphics19" height="24" width="24" border="0" align="BOTTOM"></a>
<a href="https://plus.google.com/100924847781939597025"><img src="Yogesh_sign_files/sign-googleplus.png" name="graphics20" height="24" width="24" border="0" align="BOTTOM"></a></p>



<p style="margin-bottom: 0in; border: none; padding: 0in; line-height: 0.14in">
<font color="#009900"><font face="calibri, Arial"><font style="font-size: 8pt" size="1"><i><b>Please consider the environment before printing this e-mail </b></i></font></font></font>
</p>
<p style="line-height: 0.14in"><font color="#000000"><font face="calibri, Arial"><font size="1">Disclaimers:
This message contains confidential information and is intended only
for the individual named. If you are not the named addressee you
should not disseminate, distribute or copy this e-mail. Please notify
the sender immediately by e-mail if you have received this e-mail by
mistake and delete this e-mail from your system. E-mail transmission
cannot be guaranteed to be secure or error-free as information could
be intercepted, corrupted, lost, destroyed, arrive late or
incomplete, or contain viruses. The sender therefore does not accept
liability for any errors or omissions in the contents of this
message, which arise as a result of e-mail transmission. If
verification is required please request a hard-copy version.</font></font></font></p>


</body></html>
